[package]
name = "shared"
version = "0.0.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
dllinject = { git = "https://github.com/amrbashir/dllinject" }
wincode = { version = "0.4", features = ["derive"] }
windows = { workspace = true }
